body {
	background-color: #232323;
	margin: 0;
}

h1 {
	color: white;
	font-size: 40px;
	font-family: 'Unica One', cursive;
	
	/*font-family: 'Megrim', cursive;
	font-family: 'Cinzel', serif;
	font-weight: normal;*/
	background-color: #2F4F4F;
	text-align: center;
	padding: 20px 0px;
	margin: 0;
}

#container {
	max-width: 500px;
	margin: 25px auto;
}

.square {
	background: red;
	width: 30%;
	margin: 1.66%;
	padding-bottom: 30%;
	border-radius: 20px;
	float: left;
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
}

#rgbDisplay {
	font-size: 70px;
}

#subHeader {
	background-color: white;
	height: 30px;
	text-align: center;
	/*padding-bottom: 5px;*/
}

button {
	height: 100%;
	color: #2F4F4F;
	background: none;
	border: none;
	font-family: 'Unica One', cursive;
	font-size: 25px;
	text-transform: uppercase;
	padding-bottom: 0px;
	transition: all 0.5s;
	outline: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

button:hover {
	background: #2F4F4F;
	color: white;
}

#outcome {
	/*height: 100%;*/
	color: #2F4F4F;
	background: none;
	font-family: 'Unica One', cursive;
	font-size: 20px;
	display: inline-block;
	width:20%;
}

.selected {
	background-color: #2F4F4F;
	color: white;
}
